@keyframes parpadeo {
  0% {
    border: 1px solid #b89e91;
  }
  100% {
    border: 5px solid #b89e91;
  }
}

@keyframes moveMuslo {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(15px);
  }

  100% {
    transform: translate(100%);
  }
}

@keyframes moveEyes {
  0% {
    transform: translate(0.2px, 0.2px);
  }
  100% {
    transform: translate(-5px, -5px);
  }
}

@keyframes moveArm {
  0% {
    transform: translate(0px) rotate(0);
  }
  100% {
    transform: translate(-10px, 0) rotate(10deg);
  }
}

@keyframes moveArmAnte {
  0% {
    transform: translate(0) rotate(0);
  }
  100% {
    transform: rotate(130deg);
  }
}


@keyframes importantMessage {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sadEye1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

@keyframes sadEye2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

@keyframes interesting {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -2px);
  }
}

@keyframes satisfactorio {
  0% {
    transform: translate(-3px, -4px);
  }
  100% {
    transform: translate(-1px, -3px);
  }
}

@keyframes jump {
  0% {
    transform: translate(0) scale(0.8, 0.7);
  }
  100% {
    transform: translate(-15px, 35px) scale(0.8, 0.7);
  }
}

@keyframes jumpGorro {
  0% {
    transform: translate(0) scale(0.8, 0.7);
  }
  100% {
    transform: translate(0, -10px) scale(0.8, 0.7);
  }
}

@keyframes flexion {
  0% {
    transform: skewY(0);
    transform-origin: top left;
  }
  100% {
    transform: skewY(-53deg);
    transform-origin: top left;
  }
}

@keyframes flexionposleg {
  0% {
    transform: translate(0);
    transform-origin: top right;
  }
  100% {
    transform: rotate(-35deg) translate(5px, -15px);
    transform-origin: top right;
  }
}
