/*------- TRUENA para la primera escena -------*/

@keyframes truena {
  0% {
    background: rgb(2,0,36);
  }
  100% {
    background: rgb(135, 131, 219);
  }
}


@keyframes ray {
  0% {
    opacity: 0;
    transform: rotate(5deg);
  }
  10% {
    opacity: 0.2;
    transform: rotate(-5deg);
  }
  20% {
    opacity: 0;
    transform: rotate(10deg);
  }
  30% {
    opacity: 0.5;
    transform: rotate(-10deg);
  }
  40% {
    opacity: 0.2;
    transform: rotate(20deg);
  }
  50% {
    opacity: 0.7;
    transform: rotate(-20deg);
  }
  60% {
    opacity: 0.5;
    transform: rotate(30deg);
  }
  70% {
    opacity: 0.9;
    transform: rotate(-30deg);
  }
  80% {
    opacity: 0.7;
    transform: rotate(-40deg);
  }
  90% {
    opacity: 1;
    transform: rotate(-40deg) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1.2);
  }
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes walk {
  0% {
    transform: rotate(0) translateY(0);
  }
  100% {
    transform: rotate(-18deg) translateY(-4px);
  }
}


@keyframes leg_pos_move {
  0% {
    transform: rotate(0) translateY(0);
  }
  100% {
    transform: rotate(70deg) translate(-25px, 8px);
  }
}

@keyframes movemeX {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(175px);
  }
}

@keyframes movemeAncianoX {
  0% {
    transform: translate(0);
  }
  30% {
    transform: translate(75px, 5px);
  }
  60% {
    transform: translate(100px, 0px);
  }
  90% {
    transform: translate(150px, 5px);
  }
  100% {
    transform: translate(175px);
  }
}

/*------- SCENE 3 -------*/

@keyframes awesomeEyes {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes fadeBackground {
  0% {
    background-color: rgb(252, 199, 85);
  }
  100% {
    background-color: rgb(241, 252, 85);
  }
}

@keyframes moveSky {
  0% {
    transform: translate();
  }
  100% {
    transform: translate(150px);
  }
}

/*------- animations for SUPERHOLDING ATACK on scene 5 -------*/

@keyframes rotate {
  0% {
    transform: rotate(0);
    opacity: 0.5;
  }
  100% {
    transform: rotate(460deg);
    opacity: 1;
  }
}

@keyframes toSuperTorso {
  0% {
    width: 70px;
  }
  100% {
    width: 84px;
  }
}

@keyframes toSuperPelvis {
  0% {
    transform: scale(1);
  }
  100% {
    transform: translateX(5px) scale(1.1, 1);
  }
}

@keyframes toSuperArm {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(20px, -15px) rotate(-35deg);
  }
}

@keyframes toSuperArm1 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-20px, -20px) rotate(40deg);
  }
}

@keyframes toSuperArm1Chiqui {
  0% {
    transform: translateY(0);
    transform-origin: right top;
  }
  100% {
    transform: rotate(-70deg) translateY(-11px) translateX(7px);
    transform-origin: right top;
  }
}

@keyframes toSuperArm2Chiqui {
  0% {
    transform: translateY(0);
    transform-origin: right top;
  }
  100% {
    transform: rotate(70deg) translateY(7px);
    transform-origin: right top;
  }
}

@keyframes toSuperPierna2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(8px);
  }
}

@keyframes toSuperTorsoWidth {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1, 1) translateX(4.8px);
  }
}

@keyframes movementSuper {
  0% {
    opacity: 0.7;
    transform: rotate(-10deg) scale(1.15, 1) translateX(25px) translateY(15px) translateZ(5px);
  }
  20% {
    opacity: 0.6;
    transform: rotate(10deg) scale(1.15, 0.98) translateX(25px) translateY(15px) translateZ(5px);
  }
  40% {
    opacity: 0.8;
    transform: rotate(-5deg) scale(1.15, 1) translateX(25px) translateY(15px) translateZ(5px);
  }
  60% {
    opacity: 0.7;
    transform: rotate(5deg) scale(1.15, 0.98) translateX(25px) translateY(15px) translateZ(5px);
  }
  80% {
    opacity: 0.9;
    transform: rotate(-1deg) scale(1.15, 1) translateX(25px) translateY(15px) translateZ(5px);
  }
  100% {
    opacity: 1;
    transform: rotate(0) scale(1.15, 0.98) translateX(25px) translateY(15px) translateZ(5px);
  }
}

@keyframes jumpDragon {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-15px, 35px);
  }
}

@keyframes goToUp {
  0% {
    transform: rotate(62deg) translate(1px, -50px);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: rotate(62deg) translate(1px, 40px);
  }
  100% {
    opacity: 0.2;
    transform: rotate(62deg) translate(5px, 12px);
  }
}

/*------- TRAIN -------*/

@keyframes atropella {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(150px, 150px) scale(2.8);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0) translate(-5px, -5px);
  }
  100% {
    transform: rotate(360deg) translate(5px, 5px);
  }
}

@keyframes frenoErratico {
  0% {
    transform: translate(5px, -20px);
  }
  100% {
    transform: translate(5px, 0px);
  }
}

@keyframes movementPoints {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  40% {
    opacity: 0.1;
  }
  100% {
    transform: translate(100px, 5px);
    opacity: 0.9;
  }
}

@keyframes movementCity {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes frenoErraticoHuman {
  0% {
    transform: translate(5px, -20px) scale(0.3);
  }
  100% {
    transform: translate(-5px, 0px) scale(0.3);
  }
}
