.hands {
  clip-path: polygon(13.57% -12.78%, 57.14% -7.78%, 69.29% 130%, -3.57% 131.11%);
  width: 20px;
  height: 10px;
  background-color: rgb(224, 194, 155);
}

.hand1 {
  position: absolute;
  top: 169px;
  left: -8px;
}

.fingers {
  width: 19px;
  height: 10px;
  background-color: rgb(200, 173, 138);
  clip-path: polygon(-1.43% -12.78%, 72.14% -7.78%, 59.29% 110%, 16.43% 111.11%);
  top: 179px;
  position: absolute;
  left: -8px;
}

.fingers2 {
  width: 19px;
  height: 10px;
  background-color: rgb(200, 173, 138);
  clip-path: polygon(-1.43% -12.78%, 72.14% -7.78%, 59.29% 110%, 16.43% 111.11%);
  top: 179px;
  position: absolute;
  right: -14px;
}

.hand2 {
  position: absolute;
  top: 169px;
  right: -15px;
}
