:root {
  --color-dark: #7674ee;
  --color-radioactive: #bd5cd8;
  --color-light: #eeda97;
  --color-light-2: #e7d1c0fb;
  --color-bad: #EB6967;
  --color-good: #E8F73E;
  --color-black: #21252e;
  --color-white: rgb(247, 245, 241);
}
/* 87 60 38 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  color: var(--color-white);
  opacity: 87%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #14151b;
  height: 100vh;
  display: grid;
  place-content: center;
  margin: 0 80px;
  counter-reset: walk; /*FIXME: Arreglame porque el counter es importante para caminar*/
}

.App {
  background-color: var(--color-black);
  border: 1px solid #282933;
  height: 600px;
  border-radius: 5px;
  width: 1000px;
  min-width: 1000px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: 1fr 1fr;
}

.bulletPoint {
  min-width: 250px;
  border: 1px solid #353642;
  overflow: hidden;
  position: relative;
}

.bulletPoint_tapa {
  opacity: 0.6;
  background-color: #14151b;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  transition: 1s all;
}

.opacity-none {
  visibility: hidden;
  opacity: 0;
}

.opacity-1 {
  visibility: visible;
  opacity: 1;
}

.bulletPoint.large {
  grid-column: 1 / span 2;
}

.selected {
  border: 1px solid #f2dac85c;
  box-shadow: inset 0px 0px 27px #f2dac85c;
}

.scene_3 {
  background-color: rgb(252, 199, 85);
}

.scene3_animation {
  animation: fadeBackground 1s 5 ease-in-out alternate;
  animation-delay: 4s;
}

.scene_3 .dialog1_section3 {
  background-color: #e7ebee;
  border-radius: 25px;
  padding: 10px;
  position: absolute;
  font-size: 11px;
  top: 5px;
  max-width: 260px;
  text-align: center;
  opacity: 0;
  transition: 1s all;
}

.scene_3 .dialog1_section3 .triangule {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid #e7ebee;
  position: absolute;
  right: 18px;
  bottom: -18px;
  transform: rotate(90deg);
}

.sky, .sky2 {
  background: url(https://cdn.pngsumo.com/pequea-nube-blanca-en-2019-nubes-png-plantillas-para-fotos-y-nubes-png-1988_1290.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 233px;
  height: 142px;
  position: absolute;
  top: 189px;
  opacity: 0.4;
  z-index: 5;
  left: -88px;
}

.sk1 {
  animation: 2 5s moveSky alternate;
}

.sk2 {
  animation: 2 5s moveSky alternate-reverse;
}

.sky2 {
  left: auto;
  right: -88px;
}

.background {
  position: absolute;
}

.SuperContainer {
  position: absolute;
  z-index: 5;
  right: 37px;
  transform: scale(0.7);
}

.ilusion, .reality {
  transition: 1s opacity;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.reality {
  z-index: 4;
  perspective: 100px;
}

.calle {
  transform-style: preserve-3d;
  transform: rotateX(61deg) translate(-50% , -50%);
  background: rgb(90, 90, 90);
  background: url(https://thumbs.dreamstime.com/b/fondo-o-textura-gris-calle-superficial-de-carretera-asfalto-del-114466052.jpg);
  width: 320px;
  height: 394px;
  position: absolute;
  left: 50%;
  top: 57px;
  border-radius: 50px 50px 0 0;
}

#scene_5 .reality {
  background: url(https://arc-anglerfish-arc2-prod-elespectador.s3.amazonaws.com/public/KBYL55RCBRDHHKAYTQWIC7TVUQ.jpg);
  background-position: center;
  background-size: cover;
}

.calleAnden, .calleAnden2 {
  transform-style: preserve-3d;
  transform: rotateX(61deg) translate(-50% , -50%);
  background: rgb(90, 90, 90);
  padding: 35px;
  width: 536px;
  height: 386px;
  position: absolute;
  left: -259px;
  top: 59px;
  border-radius: 50px 50px 0 0;
  border: 8px solid #f4d575;
}

.calleAnden2 {
  left: auto;
  right: -797px;
}

.car {
  max-width: 79px;
  transform-style: preserve-3d;
  transform: rotateX(-21deg);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

.car-container {
  left: 126px;
  position: relative;
  z-index: 8;
  top: 69px;
  /*animation: 7s ease-in atropella alternate 1 forwards;*/
}

.senor {
  max-width: 14px;
  left: 42px;
  position: absolute;
  top: 21px;
  z-index: 1;
}

.Helping {
  transform: scale(0.9);
  z-index: 9;
  position: absolute;
  left: 35px;
}

.Helper {
  bottom: -108px;
  position: relative;
  left: 70px;
  z-index: 10;
}

.Helping .mouth {
  border-radius: 2px 10px 25px 25px;
  background: rgb(181, 139, 139);
  width: 8px;
  height: 5px;
  transform: rotate(19deg) translate(-50%, -50%);
  position: absolute;
  left: 13px;
  top: 10px;
}

.large_secondary {
  grid-column: 2 / span 3;
  background: aliceblue;
}

.large_secondary h4 {
  font-size: 13px;
  color: #661010;
  font-weight: bold;
  margin: 10px;
  text-shadow: 1px 1px 10px #ff000091;
}

.large_three {
  grid-column: 3 / span 2;
  background: linear-gradient(0deg, rgb(230, 231, 207) 0%, rgba(121,9,9,1) 33%, rgb(230, 192, 69) 100%);
}

.large_three + .bulletPoint {
  background: linear-gradient(0deg, rgb(230, 231, 207) 0%, rgba(121,9,9,1) 33%, rgb(230, 192, 69) 100%);
}

@media screen and (max-width: 1368px) {
  body {
    display: block;
  }
}

@media screen and (max-height: 668px) {
  body {
    display: block;
  }
}
