.anti1 {
  width: 20px;
  height: 20px;
  border-radius: 10px 5px;
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
  transform: rotate(42deg);
  position: absolute;
  top: 0px;
  z-index: 1;
}

.Super {
  transform: scale(0.9);
}

.SuperSize .hombro1, .SuperSize .hombro2 {
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
}

.anti2 {
  width: 20px;
  height: 20px;
  border-radius: 10px 5px;
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
  transform: rotate(42deg);
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 1;
}

.antifas {
  position: relative;
  top: 16px;
  height: 21px;
  z-index: 1;
  opacity: 0;
}

.fade {
  animation: fade 1.1s forwards ease-in-out;
}

.Super .Torso p {
  opacity: 0;
}

.Super .Super__torso_container p {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 15px;
  font-family: 'Arial Narrow Bold', sans-serif;
  color: aliceblue;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.SuperHead .gorro img {
  max-width: 70px;
}

.SuperHead .gorro {
  position: absolute;
  z-index: 25;
  left: -13px;
  top: -20px;
  opacity: 1;
}

.gorro {
  position: absolute;
  z-index: 25;
  left: -13px;
  top: -20px;
  opacity: 0;
}

.Super .mouth {
  border-radius: 2px 10px 25px 25px;
  background: rgb(181, 139, 139);
  width: 8px;
  height: 5px;
  transform: rotate(19deg) translate(-50%, -50%);
  position: absolute;
  left: 13px;
  top: 10px;
}

.SuperSize {
  transition: 1s all;
  animation: movementSuper 1.5s ease forwards alternate;
}

.Super__torso_container {
  animation: toSuperTorso 2s 3 forwards ease-in alternate;
  transition: 1s all;
}

.Super_arm2_container {
  animation: toSuperArm 2s 3 forwards ease-in alternate;
  transition: 1s all;

}

.Super_arm1_container {
  animation: toSuperArm1 2s 3 forwards ease-in alternate;
  transition: 1s all;

}

.Super_arm2_container .arm2container {
  animation: toSuperArm2Chiqui 2s 3 forwards ease-in alternate;
  transition: 1s all;

}

.Super_arm1_container .arm1container {
  animation: toSuperArm1Chiqui 2s 3 forwards ease-in alternate;
  transition: 1s all;

}

.Super__Pelvis {
  animation: toSuperPelvis 2s 3 forwards ease-in alternate;
  transition: 1s all;
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
}

.Super__pierna2 {
  animation: toSuperPierna2 2s 3 forwards ease-in alternate;
  transition: 1s all;

}

.Super__Torso {
  animation: toSuperTorsoWidth 2s 3 forwards ease-in alternate;
  transition: 1s all;
  background: none;
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
}

.Super_arm1_container .arm1_ante, .Super_arm2_container .arm2_ante, .Super_arm1_container .arm1_pos, .Super_arm2_container .arm2_pos {
  background: none;
  background-color: rgb(241, 234, 234);
}

.Super__pierna2 .Pierna2_leg1, .Super__pierna2 .Pierna2_leg2, .Super__pierna1 .Pierna1_leg1, .Super__pierna1 .Pierna1_leg2 {
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
}

/*https://www.pingletonhats.com/blog-sombreros/wp-content/uploads/2015/01/fedora-michael.png*/

.SuperEsfuerzo {
  transform: scale(0.3);
  position: absolute;
  left: 55px;
  bottom: 50px;
  animation: frenoErraticoHuman 0.25s ease-in-out alternate infinite;
}

.SuperEsfuerzo .arm1_container {
  transform-origin: left top;
  transform: rotate(-45deg) translateY(15px);
}

.SuperEsfuerzo .arm2container {
  transform-origin: left top;
  transform: rotate(-95deg) translate(-15px, 15px);
}

.SuperEsfuerzo .Pelvis {
  transform: translateX(5px) scale(1.1, 1);
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
}

.SuperEsfuerzo .pierna2 {
  transform: translateX(8px);
  transition: 1s all;
}

.SuperEsfuerzo .Torso {
  transform: scale(1.1, 1) translateX(4.8px);
  transition: 1s all;
  background: none;
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
}

.SuperEsfuerzo .arm1_container .arm1_ante, .SuperEsfuerzo .arm2_container .arm2_ante, .SuperEsfuerzo .arm1_container .arm1_pos, .SuperEsfuerzo .arm2_container .arm2_pos {
  background: none;
  background-color: rgb(241, 234, 234);
}

.SuperEsfuerzo .hombro1, .SuperEsfuerzo .hombro2 {
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
}

.SuperEsfuerzo .pierna2 .Pierna2_leg1, .SuperEsfuerzo .pierna2 .Pierna2_leg2, .SuperEsfuerzo .pierna1 .Pierna1_leg1, .SuperEsfuerzo .pierna1 .Pierna1_leg2 {
  background: url(https://media.istockphoto.com/photos/texture-of-fire-on-a-black-background-picture-id851823958?b=1&k=6&m=851823958&s=170667a&w=0&h=7g6ym0T1xDpvRsLVmIR0b32QfGYz83yGkPDFFGa2UeY=);
}
