.Train {
  width: 263px;
  height: 106px;
  border-radius: 50px 20px;
  background-color: rgb(209, 209, 209);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.61);
  position: absolute;
  right: -100px;
  bottom: 30px;
  animation: frenoErratico 0.15s ease-in-out alternate infinite;
  transition: 1s all;
}

.Train img:nth-child(1) {
  left: 15px;
}

.Train img:nth-child(2) {
  left: 30px;
  transform: scale(0.6);
}

.Train img:nth-child(3) {
  left: 45px;
  transform: scale(1);
}

.Train img:nth-child(4) {
  left: 60px;
  transform: scale(0.9);
}

.Train img:nth-child(5) {
  left: 75px;
  transform: scale(1.2);
}

.Train img:nth-child(6) {
  left: 90px;
  transform: scale(1.1);
}

.Train img {
  transform: scale(1.2);
}

.Train::after, .Train::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(255, 247, 134);
  border: 15px solid rgb(37, 37, 37);
  position: absolute;
  border-radius: 50%;
  animation: rotate 0.01s infinite ease-in-out alternate;
  bottom: -25px;
}

.Train::before {
  left: 15px;
}

.Train::after {
  left: 70px;
  animation-duration: 0.02s;
}

.carril {
  width: 400px;
  height: 15px;
  background: gray;
  box-shadow: inset 1px 1px 10px black;
  position: absolute;
  bottom: 12px;
}

.window {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: rgba(66, 152, 245, 0.72);
  box-shadow: inset 1px 1px 10px rgba(38, 38, 47, 0.8);
  width: 142px;
  height: 44px;
  border-radius: 25px;
  z-index: 2;
  border: 4px solid black;
  border-bottom: 15px solid black;
}

.circle {
  width: 15px;
  height: 5px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.74);
  position: absolute;
  z-index: 0;
  animation: 0.6s 45 movementPoints alternate forwards;
}

.onecircle {
  left: 15px;
  top: 100px;
}

.twocircle {
  left: 45px;
  width: 5px;
  top: 150px;
  background-color: rgba(240, 248, 255, 0.986);
  animation-duration: 0.7s;
}

.threecircle {
  left: 45px;
  bottom: 25px;
  width: 50px;
  height: 2px;
  background-color: rgba(240, 248, 255, 0.986);
  animation-duration: 0.4s;
}

.fourcircle {
  left: 5px;
  bottom: 50px;
  height: 2px;
  background-color: rgba(240, 248, 255, 0.986);
  animation-duration: 0.5s;
}

.fivecircle {
  right: 5px;
  bottom: 150px;
  height: 1px;
  background-color: rgba(240, 248, 255, 0.986);
  animation-duration: 0.3s;
}

.sixcircle {
  left: 50px;
  bottom: 200px;
  height: 5px;
  width: 30px;
  background-color: rgba(240, 248, 255, 0.986);
  animation-duration: 0.2s;
  animation-iteration-count: 50;
}

.sevencircle {
  left: 150px;
  bottom: 210px;
  background-color: rgba(240, 248, 255, 0.986);
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 55;
}

.nighter {
  background: url(../../images/Nighter.jpg);
  background-size: cover;
  background-position: left;
  transition: 0.5s all;
  animation: movementCity 0.01s alternate ease-in-out infinite;
}

.ilusion {
  top: -58px;
}
